@font-face {
  font-family: 'TitaniumFalcon';
  src: url(./assets/fonts/mbf-titanium-falcon-2024-02-08-18-14-45-utc/FALCON.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body {
  h1 {
    font-family: 'TitaniumFalcon', sans-serif;
    font-size: 3rem;
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
  }
};

@import "scss/landing";